# Ignore compiled Python files
__pycache__/
test/__pycache__/

# Ignore Python byte-code
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore build files
build/
dist/

# Ignore Python package metadata
*.egg-info/

.pytest_*/